/* Site-wide SASS mixins go in here */
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: Helvetica, Arial, sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* =============================================================================
   My custom normalizations.
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

ul, ol {
  left-margin: 0;
  list-style-type: none; }

@font-face {
  font-family: 'MuseoSlab';
  src: url("Museo_Slab_500-webfont.eot");
  src: url("Museo_Slab_500-webfont.eot?#iefix") format("embedded-opentype"), url("Museo_Slab_500-webfont.woff") format("woff"), url("Museo_Slab_500-webfont.ttf") format("truetype"), url("Museo_Slab_500-webfont.svg#MuseoSlab500Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

a,
a:visited {
  font-weight: bold;
  color: #1e80a9; }
  a:hover,
  a:visited:hover {
    color: #145571; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

html {
  font-size: 62.5%; }

h1 {
  float: left;
  font-family: "MuseoSlab";
  font-size: 1.8em;
  line-height: 1.6em;
  font-weight: normal;
  color: #333; }

.dmauro {
  float: right;
  position: relative;
  width: 482px;
  height: 95px;
  right: 0;
  background: url(../img/dmauro_bg.png); }
  .dmauro p {
    position: absolute;
    left: 210px;
    bottom: 3px;
    font-family: "MuseoSlab";
    font-size: 1.4em;
    font-weight: normal;
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

body {
  font-size: 1em;
  margin: 0;
  border: 0;
  padding: 0;
  background: white url(../img/bg_noise.png); }
  body > header {
    height: 10em;
    margin-bottom: 2em;
    border-bottom: 5px solid #80ccff;
    background: white;
    background-image: -moz-linear-gradient(-90deg, white 0%, #eeeeee 100%);
    background-image: -webkit-linear-gradient(-90deg, white 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(-90deg, white 0%, #eeeeee 100%);
    background-image: -ms-linear-gradient(-90deg, white 0%, #eeeeee 100%);
    -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5); }
    body > header h1 {
      float: left;
      position: relative;
      top: 0.4em;
      font-size: 3.8em;
      margin-right: 1em; }
    body > header h2 {
      float: left;
      position: relative;
      width: 15em;
      top: 1em;
      font-size: 2em;
      font-weight: normal;
      color: #777; }

.fixed_width_wrapper {
  position: relative;
  width: 1080px;
  margin: 0 auto;
  padding: 0 20px; }

.keyboard {
  margin-bottom: 2em;
  zoom: 1; }
  .keyboard:before, .keyboard:after {
    content: "";
    display: table; }
  .keyboard:after {
    clear: both; }
  .keyboard .note,
  .keyboard .message {
    margin-top: 1em;
    width: 175px;
    font-size: 1em;
    color: #555; }
  .keyboard section {
    float: left;
    margin-right: 15px; }
    .keyboard section:last-of-type {
      margin-right: 0; }
  .keyboard .row {
    height: 40px;
    margin-bottom: 5px; }
    .keyboard .row:last-of-type {
      margin-bottom: 0; }
  .keyboard .key,
  .keyboard .key_filler {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    width: 40px;
    height: 40px; }
    .keyboard .key:last-of-type,
    .keyboard .key_filler:last-of-type {
      margin-right: 0; }
  .keyboard .key_filler {
    pointer-events: none; }
  .keyboard .key {
    border: 1px solid #aaa;
    padding-top: 0.25em;
    vertical-align: top;
    font-size: 1.2em;
    color: #333;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
    background: white;
    background-image: -moz-linear-gradient(-90deg, white 0%, #e3e3e3 100%);
    background-image: -webkit-linear-gradient(-90deg, white 0%, #e3e3e3 100%);
    background-image: -o-linear-gradient(-90deg, white 0%, #e3e3e3 100%);
    background-image: -ms-linear-gradient(-90deg, white 0%, #e3e3e3 100%); }
    .keyboard .key.pressed, .keyboard .key.shift_pressed {
      -webkit-box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
      box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
      background: #f3f3f3;
      background-image: -moz-linear-gradient(90deg, #f3f3f3 0%, #dddddd 100%);
      background-image: -webkit-linear-gradient(90deg, #f3f3f3 0%, #dddddd 100%);
      background-image: -o-linear-gradient(90deg, #f3f3f3 0%, #dddddd 100%);
      background-image: -ms-linear-gradient(90deg, #f3f3f3 0%, #dddddd 100%); }
      .keyboard .key.pressed strong, .keyboard .key.shift_pressed strong {
        color: #33bbff; }
      .keyboard .key.pressed .triangle:first-child.up, .keyboard .key.shift_pressed .triangle:first-child.up {
        border-color: transparent transparent #33bbff transparent; }
      .keyboard .key.pressed .triangle:first-child.down, .keyboard .key.shift_pressed .triangle:first-child.down {
        border-color: #33bbff transparent transparent transparent; }
      .keyboard .key.pressed .triangle:first-child.right, .keyboard .key.shift_pressed .triangle:first-child.right {
        border-color: transparent transparent transparent #33bbff; }
      .keyboard .key.pressed .triangle:first-child.left, .keyboard .key.shift_pressed .triangle:first-child.left {
        border-color: transparent #33bbff transparent transparent; }
    .keyboard .key.shift_pressed strong {
      color: #333; }
    .keyboard .key.shift_pressed em {
      color: #33bbff; }
    .keyboard .key.wide_1 {
      width: 61px; }
    .keyboard .key.wide_2 {
      width: 64px; }
    .keyboard .key.wide_3 {
      width: 76px; }
    .keyboard .key.wide_4 {
      width: 100px; }
    .keyboard .key.wide_5 {
      width: 274px; }
    .keyboard .key.wide_6 {
      width: 85px; }
    .keyboard .key.tall {
      height: 85px;
      line-height: 85px; }
    .keyboard .key.single {
      font-size: 1.8em;
      padding-top: 0.35em; }
    .keyboard .key em {
      font-style: normal; }
    .keyboard .key strong {
      font-weight: normal; }
    .keyboard .key .triangle {
      margin: 8px auto; }
      .keyboard .key .triangle.up {
        top: 2px; }
      .keyboard .key .triangle.down {
        top: 5px; }
      .keyboard .key .triangle.left {
        left: -2px; }
      .keyboard .key .triangle.right {
        left: 2px; }
    .keyboard .key br + .triangle {
      margin: 0 auto; }
    .keyboard .key span {
      display: block;
      position: absolute;
      width: 100%;
      padding: 0.2em 0.5em;
      bottom: 0;
      font-size: 0.8em;
      text-align: center; }
      .keyboard .key span.right {
        text-align: right; }
      .keyboard .key span.left {
        text-align: left; }
  .keyboard .triangle {
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid; }
    .keyboard .triangle.up {
      border-width: 0 8px 10px 8px;
      border-color: transparent transparent #555555 transparent; }
    .keyboard .triangle.down {
      border-width: 10px 8px 0 8px;
      border-color: #555555 transparent transparent transparent; }
    .keyboard .triangle.right {
      border-width: 8px 0 8px 10px;
      border-color: transparent transparent transparent #555555; }
    .keyboard .triangle.left {
      border-width: 8px 8px 10px 0;
      border-color: transparent #555555 transparent transparent; }

.examples > h1,
.overview > h1,
.get_keypress > h1,
.documentation > h1 {
  margin-bottom: 0.5em;
  font-size: 2.6em;
  line-height: 1em; }
  .examples > h1.pink,
  .overview > h1.pink,
  .get_keypress > h1.pink,
  .documentation > h1.pink {
    border-bottom: 3px solid #FF0089; }
  .examples > h1.lime,
  .overview > h1.lime,
  .get_keypress > h1.lime,
  .documentation > h1.lime {
    border-bottom: 3px solid #aade00; }
  .examples > h1.blue,
  .overview > h1.blue,
  .get_keypress > h1.blue,
  .documentation > h1.blue {
    border-bottom: 3px solid #63B3E0; }
.examples p,
.overview p,
.get_keypress p,
.documentation p {
  font-size: 1.6em;
  clear: both; }
  .examples p img,
  .overview p img,
  .get_keypress p img,
  .documentation p img {
    float: left;
    margin-right: 1em; }

.advanced_documentation {
  background: #fff;
  -webkit-box-shadow: 0 0 0 15px white;
  -moz-box-shadow: 0 0 0 15px white;
  box-shadow: 0 0 0 15px white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.get_keypress {
  float: right;
  width: 512px; }

.github_wrapper {
  clear: left;
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .github_wrapper a {
    text-decoration: none; }
  .github_wrapper img {
    margin-right: 15px; }
  .github_wrapper .github_style {
    position: relative;
    display: inline-block;
    border: 1px solid #ddd;
    border-bottom-color: #bbb;
    padding: 9px 15px;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9);
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: whitesmoke;
    background-image: -moz-linear-gradient(-90deg, whitesmoke 0%, #e5e5e5 100%);
    background-image: -webkit-linear-gradient(-90deg, whitesmoke 0%, #e5e5e5 100%);
    background-image: -o-linear-gradient(-90deg, whitesmoke 0%, #e5e5e5 100%);
    background-image: -ms-linear-gradient(-90deg, whitesmoke 0%, #e5e5e5 100%); }
    .github_wrapper .github_style:hover {
      color: #337797;
      border: 1px solid #CBE3EE;
      border-bottom-color: #97C7DD;
      background: #f0f7fa;
      background-image: -moz-linear-gradient(-90deg, #f0f7fa 0%, #d8eaf2 100%);
      background-image: -webkit-linear-gradient(-90deg, #f0f7fa 0%, #d8eaf2 100%);
      background-image: -o-linear-gradient(-90deg, #f0f7fa 0%, #d8eaf2 100%);
      background-image: -ms-linear-gradient(-90deg, #f0f7fa 0%, #d8eaf2 100%); }
    .github_wrapper .github_style:active {
      border: 1px solid #2A65A0;
      border-bottom-color: #0770A0;
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
      background: #0770a0;
      background-image: -moz-linear-gradient(-90deg, #0770a0 0%, #0ca6dd 100%);
      background-image: -webkit-linear-gradient(-90deg, #0770a0 0%, #0ca6dd 100%);
      background-image: -o-linear-gradient(-90deg, #0770a0 0%, #0ca6dd 100%);
      background-image: -ms-linear-gradient(-90deg, #0770a0 0%, #0ca6dd 100%);
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1); }

.examples {
  float: right;
  clear: right;
  width: 512px;
  margin-top: 1em; }
  .examples .example_window {
    clear: both;
    border: 4px solid #63b3e0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
  .examples .demo {
    display: none; }
    .examples .demo h2 {
      margin-bottom: 0.5em;
      font-size: 1.6em;
      line-height: 1.1em;
      border-bottom: 1px solid #aaa; }
    .examples .demo p {
      font-size: 1.2em;
      margin-bottom: 1em; }

.overview {
  float: left;
  width: 500px; }
  .overview ul {
    padding-left: 0;
    margin-bottom: 3em; }
    .overview ul li a {
      position: relative;
      display: block;
      margin: 0.5em 0;
      border: 1px solid #bbb;
      padding: 0.25em 6em 0.25em 0.75em;
      color: #222;
      font-weight: normal;
      font-size: 1.6em;
      cursor: pointer;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5), inset -1px -1px 0 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5), inset -1px -1px 0 0 rgba(0, 0, 0, 0.05);
      box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5), inset -1px -1px 0 0 rgba(0, 0, 0, 0.05);
      background: #dddddd;
      background-image: -moz-linear-gradient(-90deg, #dddddd 0%, #cccccc 100%);
      background-image: -webkit-linear-gradient(-90deg, #dddddd 0%, #cccccc 100%);
      background-image: -o-linear-gradient(-90deg, #dddddd 0%, #cccccc 100%);
      background-image: -ms-linear-gradient(-90deg, #dddddd 0%, #cccccc 100%); }
      .overview ul li a:before {
        content: "»";
        position: absolute;
        font-size: 2em;
        color: #fff;
        line-height: 0.9em;
        right: 0.25em;
        top: 0;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
      .overview ul li a:after {
        content: "show me";
        display: block;
        position: absolute;
        font-size: 0.8em;
        color: #fff;
        right: 2.4em;
        top: 0.5em;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
      .overview ul li a.active {
        color: #25678D;
        background: #dddddd;
        background-image: -moz-linear-gradient(90deg, #dddddd 0%, #cccccc 100%);
        background-image: -webkit-linear-gradient(90deg, #dddddd 0%, #cccccc 100%);
        background-image: -o-linear-gradient(90deg, #dddddd 0%, #cccccc 100%);
        background-image: -ms-linear-gradient(90deg, #dddddd 0%, #cccccc 100%);
        -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.05), inset -1px -1px 0 0 rgba(255, 255, 255, 0.5);
        -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.05), inset -1px -1px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.05), inset -1px -1px 0 0 rgba(255, 255, 255, 0.5); }
        .overview ul li a.active:before {
          content: none; }
        .overview ul li a.active:after {
          content: "\00a0";
          position: absolute;
          right: -32px;
          top: -5px;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 20px 20px 20px 0;
          border-color: transparent #63b3e0 transparent transparent; }

.documentation {
  width: 800px;
  margin: 3em auto; }
  .documentation p {
    clear: both;
    margin-bottom: 1em; }
  .documentation ul {
    font-size: 1.6em;
    border-left: 4px solid rgba(0, 55, 68, 0.25);
    padding-left: 1em; }
    .documentation ul li {
      margin-bottom: 1em; }
      .documentation ul li strong {
        position: relative;
        top: -1px;
        padding: 2px 6px 4px;
        background: #003744;
        font-family: monospace, serif;
        font-weight: normal;
        font-size: 0.9em;
        color: #00ac98;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
        .documentation ul li strong.group_2 {
          color: #A5AC00; }
        .documentation ul li strong.group_3 {
          color: #07AC00; }
        .documentation ul li strong.group_4 {
          color: #C07618; }
  .documentation code {
    position: relative;
    width: 800px;
    font-size: 1.4em;
    padding: 0.5em 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.5), 1px 1px 1px 1px white;
    -moz-box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.5), 1px 1px 1px 1px white;
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.5), 1px 1px 1px 1px white; }
    .documentation code:after {
      content: "\00a0";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      pointer-events: none;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.05);
      background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
      background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
      background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
      background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%); }
  .documentation pre {
    margin-bottom: 1.4em; }

#movement_grid {
  position: relative;
  width: 480px;
  margin-bottom: 1.2em;
  overflow: hidden;
  background: url(../img/paper_bg.jpg);
  zoom: 1;
  -webkit-box-shadow: 0 0 0 1px #aaaaaa;
  -moz-box-shadow: 0 0 0 1px #aaaaaa;
  box-shadow: 0 0 0 1px #aaaaaa; }
  #movement_grid:before, #movement_grid:after {
    content: "";
    display: table; }
  #movement_grid:after {
    clear: both; }
  #movement_grid div {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #C5DEFF;
    background: rgba(255, 255, 255, 0.75); }
  #movement_grid div:first-of-type {
    position: absolute;
    background: red;
    top: 40px;
    left: 40px;
    z-index: 1;
    border: 1px solid #143e4e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #7fb5e0;
    background-image: -moz-linear-gradient(-90deg, #7fb5e0 0%, #287d9c 100%);
    background-image: -webkit-linear-gradient(-90deg, #7fb5e0 0%, #287d9c 100%);
    background-image: -o-linear-gradient(-90deg, #7fb5e0 0%, #287d9c 100%);
    background-image: -ms-linear-gradient(-90deg, #7fb5e0 0%, #287d9c 100%); }
    #movement_grid div:first-of-type:before {
      content: "@";
      display: block;
      position: absolute;
      line-height: 35px;
      text-align: center;
      width: 100%;
      font-size: 1.8em;
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); }
    #movement_grid div:first-of-type:after {
      content: " W \000a A D \000a  S";
      white-space: pre;
      display: block;
      position: absolute;
      width: 300%;
      height: 300%;
      left: -100%;
      top: -100%;
      padding: 0 10px;
      font-size: 2.4em;
      line-height: 165%;
      letter-spacing: 28px;
      color: #ccc;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box; }

#counting_list {
  position: relative;
  height: 180px;
  padding-left: 0; }
  #counting_list li {
    display: inline-block;
    padding: 5px 10px;
    height: 30px;
    background: #cfc684;
    cursor: pointer;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background: #cfc684;
    background-image: -moz-linear-gradient(-90deg, #cfc684 0%, #b8b075 100%);
    background-image: -webkit-linear-gradient(-90deg, #cfc684 0%, #b8b075 100%);
    background-image: -o-linear-gradient(-90deg, #cfc684 0%, #b8b075 100%);
    background-image: -ms-linear-gradient(-90deg, #cfc684 0%, #b8b075 100%); }
    #counting_list li:not(:last-of-type) {
      margin-right: 2px; }
    #counting_list li.active {
      background: #E6DD93; }
      #counting_list li.active div {
        display: block; }
    #counting_list li h3 {
      font-size: 1.4em;
      font-weight: normal; }
    #counting_list li div {
      display: none;
      position: absolute;
      width: 100%;
      height: 150px;
      top: 30px;
      left: 0;
      padding: 15px;
      background: #E6DD93;
      background: #e6dd93;
      background-image: -moz-linear-gradient(-90deg, #e6dd93 0%, #dad18b 100%);
      background-image: -webkit-linear-gradient(-90deg, #e6dd93 0%, #dad18b 100%);
      background-image: -o-linear-gradient(-90deg, #e6dd93 0%, #dad18b 100%);
      background-image: -ms-linear-gradient(-90deg, #e6dd93 0%, #dad18b 100%); }

#sequence_combo span.highlight {
  background: yellow; }

.ryu {
  display: block;
  width: 136px;
  height: 111px;
  margin: 0 auto;
  background-position: left bottom;
  background-repeat: no-repeat; }
  .ryu.standing {
    background-image: url(../img/standing.gif); }
  .ryu.hadoken {
    background-image: url(../img/hadoken.gif); }
  .ryu.shoryuken {
    background-image: url(../img/shoryuken.gif); }

.demo[data-demo="demo_1"] {
  display: block; }
