@import "mixins", "normalize", "fonts";

* {
    margin:0;
    @include box-sizing(border-box);
}

a,
a:visited {
    font-weight:bold;
    color:#29abe2 * 0.75;

    &:hover {
        color:#29abe2 * 0.5;
    }
}

.clearfix {
    @include clearfix();
}

html {
    font-size:62.5%;
}

h1 {
    float:left;
    font-family:"MuseoSlab";
    font-size:1.8em;
    line-height:1.6em;
    font-weight:normal;
    color:#333;
}

.dmauro {
    float:right;
    position:relative;
    width:482px;
    height:95px;
    right:0;
    background:url(../img/dmauro_bg.png);

    p {
        position:absolute;
        left:210px;
        bottom:3px;
        font-family:"MuseoSlab";
        font-size:1.4em;
        font-weight:normal;
        color:#000;
        text-shadow:0 1px 0 rgba(#fff, 0.5);
    }
}

body {
    font-size:1em;
    margin:0;
    border:0;
    padding:0;
    background:#f5f5f5 url(../img/bg_noise.png);

    > header {
        height:10em;
        margin-bottom:2em;
        border-bottom:5px solid #80ccff;
        @include bg-linear-gradient((-90deg, #fff 0%, #eee 100%));
        @include box-shadow(0 0px 8px 0 rgba(#000, 0.5));

        h1 {
            float:left;
            position:relative;
            top:0.4em;
            font-size:3.8em;
            margin-right:1em;
        }

        h2 {
            float:left;
            position:relative;
            width:15em;
            top:1em;
            font-size:2em;
            font-weight:normal;
            color:#777;
        }
    }
}

.fixed_width_wrapper {
    position:relative;
    width:1080px;
    margin:0 auto;
    padding:0 20px;
}

.keyboard {
    margin-bottom:2em;
    @include clearfix();

    .note,
    .message {
        margin-top:1em;
        width:175px;
        font-size:1em;
        color:#555;
    }

    section {
        float:left;
        margin-right:15px;

        &:last-of-type {
            margin-right:0;
        }
    }
    
    .row {
        height:40px;
        margin-bottom:5px;

        &:last-of-type {
            margin-bottom:0;
        }
    }

    .key,
    .key_filler {
        display:inline-block;
        position:relative;
        margin-right:5px;
        width:40px;
        height:40px;

        &:last-of-type {
            margin-right:0;
        }
    }

    .key_filler {
        pointer-events:none;
    }

    .key {
        border:1px solid #aaa;
        padding-top:0.25em;
        vertical-align:top;
        font-size:1.2em;
        color:#333;
        text-align:center;
        @include border-radius(5px);
        @include box-shadow(1px 1px 1px 0 rgba(#000, 0.2));
        @include bg-linear-gradient((-90deg, #fff 0%, #e3e3e3 100%));

        $pressed_color:#3BF;

        &.pressed,
        &.shift_pressed {
            @include box-shadow(inset 1px 1px 1px 0 rgba(#000, 0.2));
            @include bg-linear-gradient((90deg, #f3f3f3 0%, #ddd 100%));

            strong {
                color:$pressed_color;
            }

            .triangle:first-child {
                $triangle_color:$pressed_color;
                
                &.up {
                    border-color:transparent transparent $triangle_color transparent;
                }

                &.down {
                    border-color:$triangle_color transparent transparent transparent;
                }

                &.right {
                    border-color: transparent transparent transparent $triangle_color;
                }

                &.left {
                    border-color: transparent $triangle_color transparent transparent;
                }
            }
        }

        &.shift_pressed {
            strong {
                color:#333;
            }

            em {
                color:$pressed_color;
            }
        }

        &.wide_1 { width:61px; }
        &.wide_2 { width:64px; }
        &.wide_3 { width:76px; }
        &.wide_4 { width:100px; }
        &.wide_5 { width:274px; }
        &.wide_6 { width:85px; }
        &.tall {
            height:85px;
            line-height:85px;
        }

        &.single {
            font-size:1.8em;
            padding-top:0.35em;
        }

        em {
            font-style:normal;
        }

        strong {
            font-weight:normal;
        }

        .triangle {
            margin:8px auto;

            &.up { top:2px; }
            &.down { top:5px; }
            &.left { left:-2px; }
            &.right { left:2px; }
        }

        br + .triangle {
            margin:0 auto;
        }

        span {
            display:block;
            position:absolute;
            width:100%;
            padding:0.2em 0.5em;
            bottom:0;
            font-size:0.8em;
            text-align:center;

            &.right {
                text-align:right;
            }

            &.left {
                text-align:left;
            }
        }
    }

    $triangle_color:#555;
    $triangle_width:16px;
    $triangle_height:10px;

    .triangle {
        position:relative;
        width:0px;
        height:0px;
        border-style:solid;

        &.up {
            border-width:0 $triangle_width/2 $triangle_height $triangle_width/2;
            border-color:transparent transparent $triangle_color transparent;
        }

        &.down {
            border-width:$triangle_height $triangle_width/2 0 $triangle_width/2;
            border-color:$triangle_color transparent transparent transparent;
        }

        &.right {
            border-width: $triangle_width/2 0 $triangle_width/2 $triangle_height;
            border-color: transparent transparent transparent $triangle_color;
        }

        &.left {
            border-width: $triangle_width/2 $triangle_width/2 $triangle_height 0;
            border-color: transparent $triangle_color transparent transparent;
        }
    }
}

.examples,
.overview,
.get_keypress,
.documentation {
    > h1 {
        margin-bottom:0.5em;
        font-size:2.6em;
        line-height:1em;

        &.pink { border-bottom:3px solid #FF0089; }
        &.lime { border-bottom:3px solid #aade00; }
        &.orange { border-bottom:3px solid #ff7914; }
        &.blue { border-bottom:3px solid #63B3E0; }
    }

    p {
        font-size:1.6em;
        clear:both;

        img {
            float:left;
            margin-right:1em;
        }
    }
}

.get_keypress {
    float:right;
    width:512px;
}

.github_wrapper {
    clear:left;
    padding:10px;
    background:#fff;
    @include border-radius(5px);

    a {
        text-decoration:none;
    }

    img {
        margin-right:15px;
    }

    .github_style {
        position:relative;
        display:inline-block;
        border:1px solid #ddd;
        border-bottom-color:#bbb;
        padding:9px 15px;
        font-family:Helvetica, arial, freesans, clean, sans-serif;
        font-size:12px;
        font-weight:bold;
        color:#666;
        text-shadow:0 1px rgba(#fff, 0.9);
        cursor:pointer;
        @include border-radius(3px);
        @include box-shadow(0 1px 3px rgba(#000, 0.1));
        @include bg-linear-gradient((-90deg, whiteSmoke 0%, #e5e5e5 100%));

        &:hover {
            color:#337797;
            border:1px solid #CBE3EE;
            border-bottom-color:#97C7DD;
            @include bg-linear-gradient((-90deg, #F0F7FA 0%, #D8EAF2 100%));
        }

        &:active {
            border:1px solid #2A65A0;
            border-bottom-color:#0770A0;
            color:#fff;
            text-shadow:0 -1px 0 rgba(#000, 0.3);
            @include bg-linear-gradient((-90deg, #0770A0 0%, #0CA6DD 100%));
            @include box-shadow(0 1px 3px 0 rgba(#000, 0.1));
        }
    }
}

$example_border_color:#C3D2D5;

.examples {
    float:right;
    clear:right;
    width:512px;
    margin-top:1em;

    .example_window {
        clear:both;
        border:4px solid $example_border_color;
        padding:10px;
        background:rgba(#fff, 0.8);
        //background:rgba(#000, 0.05);
        @include border-radius(10px);
    }

    .demo {
        display:none;

        h2 {
            margin-bottom:0.5em;
            font-size:1.6em;
            line-height:1.1em;
            border-bottom:1px solid #aaa;
        }

        p {
            font-size:1.2em;
            margin-bottom:1em;
        }
    }
}

.overview {
    float:left;
    width:500px;

    ul {
        padding-left:0;
        margin-bottom:3em;

        li {
            a {
                position:relative;
                display:block;
                margin:0.5em 0;
                border:1px solid #bbb;
                padding:0.25em 6em 0.25em 0.75em;
                color:#222;
                font-weight:normal;
                font-size:1.6em;
                cursor:pointer;
                text-shadow:0 1px 0 rgba(#fff, 0.5);
                @include border-radius(4px);
                @include box-shadow((inset 1px 1px 0 0 rgba(#fff, 0.5), inset -1px -1px 0 0 rgba(#000, 0.05)));
                @include bg-linear-gradient((-90deg, #ddd 0%, #ccc 100%));

                &:before {
                    content:"»";
                    position:absolute;
                    font-size:2em;
                    color:#fff;
                    line-height:0.9em;
                    right:0.25em;
                    top:0;
                    text-shadow:0 -1px 0 rgba(#000, 0.3);
                }

                &:after {
                    content:"show me";
                    display:block;
                    position:absolute;
                    font-size:0.8em;
                    color:#fff;
                    right:2.4em;
                    top:0.5em;
                    text-shadow:0 -1px 0 rgba(#000, 0.3);
                }

                &.active {
                    color:#25678D;
                    @include bg-linear-gradient((90deg, #ddd 0%, #ccc 100%));
                    @include box-shadow((inset 1px 1px 0 0 rgba(#000, 0.05), inset -1px -1px 0 0 rgba(#fff, 0.5)));

                    &:before {
                        content:none;
                    }

                    &:after {
                        $size:20px;
                        content:"\00a0";
                        position:absolute;
                        right:-32px;
                        top:-5px;
                        width:0px;
                        height:0px;
                        border-style:solid;
                        border-width:$size $size $size 0;
                        border-color:transparent $example_border_color transparent transparent;
                    }
                }
            }
        }
    }
}

.documentation {
    width:800px;
    margin:3em auto;

    p {
        clear:both;
        margin-bottom:1em;
    }

    ul {
        font-size:1.6em;
        border-left:4px solid rgba(#003744, 0.25);
        padding-left:1em;

        li {
            margin-bottom:1em;

            strong {
                position:relative;
                top:-1px;
                padding:2px 6px 4px;
                background:#003744;
                font-family:monospace, serif;
                font-weight:normal;
                font-size:0.9em;
                color:#00ac98;
                @include border-radius(4px);

                &.group_2 {
                    color:#A5AC00;
                }
                &.group_3 {
                    color:#07AC00;
                }
                &.group_4 {
                    color:#C07618;
                }
            }
        }
    }

    code {
        position:relative;
        width:800px;
        font-size:1.4em;
        padding:0.5em 1em;
        @include border-radius(10px);
        @include box-shadow((inset 2px 2px 5px 0 rgba(#000, 0.5), 1px 1px 1px 1px #fff));

        &:after {
            content:"\00a0";
            @include fullsize();
            pointer-events:none;
            @include border-radius(10px);
            @include bg-linear-gradient((90deg, rgba(#fff, 0.05) 0%, rgba(#fff, 0) 100%));
        }
    }

    pre {
        margin-bottom:1.4em;
    }
}

#movement_grid {
    $width:480px;
    $units_across:12;

    position:relative;
    width:$width;
    margin-bottom:1.2em;
    overflow:hidden;
    background:url(../img/paper_bg.jpg);
    @include clearfix();
    @include box-shadow(0 0 0 1px #aaa);

    div {
        float:left;
        width:$width/$units_across;
        height:$width/$units_across;
        border:1px solid #C5DEFF;
        background:rgba(#fff, 0.75);
    }

    div:first-of-type {
        position:absolute;
        background:red;
        top:$width/$units_across;
        left:$width/$units_across;
        z-index:1;
        border:1px solid #287d9c * 0.5;
        @include border-radius(5px);
        @include bg-linear-gradient((-90deg, #7fb5e0 0%, #287d9c 100%));

        &:before {
            content:"@";
            display:block;
            position:absolute;
            line-height:$width/$units_across - 5;
            text-align:center;
            width:100%;
            font-size:1.8em;
            color:#fff;
            text-shadow:0 -1px 0 rgba(#000, 0.5);
        }

        &:after {
            content:" W \000a A D \000a  S";
            white-space:pre;
            display:block;
            position:absolute;
            width:300%;
            height:300%;
            left:-100%;
            top:-100%;
            padding:0 10px;
            font-size:2.4em;
            line-height:165%;
            letter-spacing:28px;
            color:#ccc;
            @include box-sizing(border-box);
        }
    }
}

#counting_list {
    position:relative;
    height:180px;
    padding-left:0;

    li {
        display:inline-block;
        padding:5px 10px;
        height:30px;
        background:#E6DD93*0.9;
        cursor:pointer;
        @include border-radius(5 5 0 0);
        @include bg-linear-gradient((-90deg, #E6DD93*0.9 0%, #E6DD93*0.8 100%));

        &:not(:last-of-type) {
            margin-right:2px;
        }

        &.active {
            background:#E6DD93;

            div {
                display:block;
            }
        }

        h3 {
            font-size:1.4em;
            font-weight:normal;
        }

        div {
            display:none;
            position:absolute;
            width:100%;
            height:150px;
            top:30px;
            left:0;
            padding:15px;
            background:#E6DD93;
            @include bg-linear-gradient((-90deg, #E6DD93 0%, #E6DD93*0.95 100%));
        }
    }
}

#sequence_combo {
    span.highlight {
        background:yellow;
    }
}

.ryu {
    display:block;
    width:136px;
    height:111px;
    margin:0 auto;
    background-position:left bottom;
    background-repeat:no-repeat;

    &.standing { background-image:url(../img/standing.gif); }
    &.hadoken { background-image:url(../img/hadoken.gif); }
    &.shoryuken { background-image:url(../img/shoryuken.gif); }
}

.demo[data-demo="demo_1"] {
    display:block;
}
