@import "mixins", "normalize", "fonts";

* {
    margin:0;
    @include box-sizing(border-box);
}

html {
    font-size:62.5%;
}

h1 {
    font-family:"MuseoSlab";
    font-size:1.8em;
    font-weight:normal;
    color:#333;
}

body {
    font-size:1em;
    margin:0;
    border:0;
    padding:0;
    background:#f5f5f5 url(../img/bg_noise.png);

    > header {
        height:10em;
        margin-bottom:2em;
        border-bottom:5px solid #80ccff;
        @include bg-linear-gradient((-90deg, #fff 0%, #eee 100%));
        @include box-shadow(0 0px 8px 0 rgba(#000, 0.5));

        h1 {
            float:left;
            position:relative;
            top:0.4em;
            font-size:3.8em;
            margin-right:1em;
        }

        h2 {
            float:left;
            position:relative;
            width:20em;
            top:1em;
            font-size:2em;
            font-weight:normal;
            color:#777;
        }
    }
}

body > .fixed_width_wrapper,
body > header hgroup {
    width:1000px;
    margin:0 auto;
    padding:0 20px;
}

.keyboard {
    .row {
        margin-bottom:5px;

        &:last-of-type {
            margin-bottom:0;
        }
    }

    .key {
        display:inline-block;
        position:relative;
        margin-right:5px;
        width:40px;
        height:40px;
        border:1px solid #aaa;
        padding-top:0.25em;
        vertical-align:top;
        font-size:1.2em;
        color:#333;
        text-align:center;
        @include border-radius(5px);
        @include box-shadow(1px 1px 1px 0 rgba(#000, 0.2));
        @include bg-linear-gradient((-90deg, #fff 0%, #e3e3e3 100%));

        &.wide_1 { width:61px; }
        &.wide_2 { width:64px; }
        &.wide_3 { width:76px; }
        &.wide_4 { width:100px; }
        &.wide_5 { width:274px; }

        &:last-of-type {
            margin-right:0;
        }

        &.single {
            font-size:1.8em;
            padding-top:0.35em;
        }

        span {
            display:block;
            position:absolute;
            width:100%;
            padding:0.2em 0.5em;
            bottom:0;
            font-size:0.8em;

            &.right {
                text-align:right;
            }

            &.left {
                text-align:left;
            }
        }
    }
}
